<!doctype html>
{% include head.html %}
    {{ content }}
    <h2>Brown button</h2>
    <button class="{% for token in site.data.tokens.button %} {{ token }}{% endfor %}">{{ page.label }}</button>
    <p>Tokens:</p>
    <ul>
        {% for token in site.data.tokens.button %}
        <li>{{ token }}</li>
        {% endfor %}
    </ul>
    <h2>Bixal button</h2>
    <button class="{% for token in site.data.tokens.bixal-button %} {{ token }}{% endfor %}">{{ page.bixal-label }}</button>
    <p>Tokens:</p>
    <ul>
        {% for token in site.data.tokens.bixal-button %}
        <li>{{ token }}</li>
        {% endfor %}
    </ul>
    <h2>AL button primary</h2>
    <button class="{% for token in site.data.tokens.al-button-primary %} {{ token }}{% endfor %}">{{ page.al-label }}</button>
    <p>Tokens:</p>
    <ul>
        {% for token in site.data.tokens.al-button-primary %}
        <li>{{ token }}</li>
        {% endfor %}
    </ul>
    {% include foot.html %}
</html>